#addbutton{
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 8px;
    background-color: transparent;
  }
  #addbutton:hover{
    color:rgb(252, 251, 251);
    background-color: rgba(76, 5, 5, 0.696);
  }
  input{
    border: 2px solid gray;
    border-radius: 5px;
    background-color: transparent;
  }
